.home-container {
    padding: 1rem 3rem;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
}

.avatar {
    border-radius: 50%;
}

.employee-list {
    max-width: 800px;
    width: 800px;
    margin: 0 auto;
    display: grid;
    row-gap: 36px;
}

.employee-list thead {
    background-color: #242626;
    color: #fff;
}